*.win filter=lfs diff=lfs merge=lfs -text
*.temp filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
backup_134511358_7a90232ae6c67e7d95fee9ff0ce1e58b236af9a9 filter=lfs diff=lfs merge=lfs -text